<div class="columns">
  {{#each data as |parks|}}
  <div class="card column is-one-third">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{parks.images.[0].url}}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content">
        <a href="{{parks.url}}" class="title is-4">{{parks.fullName}}</a>
      </div>
    </div>
    <div class="content">
      {{parks.description}}
      <br>
      <a href="{{parks.directionsUrl}}">Directions</a>
      <br>
      <button type="submit" class="button">Add to Favorites</button>
    </div>
  </div>
  {{/each}}
</div>